body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container{
    display: flex;
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    padding: 15px;
    box-sizing: border-box;
}

.coluna{
    background-color: #ddd;
    color: #333;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    text-align: justify;
    flex: 1;
}

.coluna:first-child {
    margin-left: 0;
    text-align: justify;
}

.coluna:last-child {
    margin-right: 0;
    text-align: justify;
}

.header, .footer {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
}
@media (max-width: 768px) {
    .container{
        flex-direction: column;
    }
    .coluna{
        margin: 10px 0;
    }
    .coluna:first-child{
        margin-top: 0;
    }
    .coluna:last-child{
        margin-bottom: 0;
    }
}